<app-header></app-header>
<ion-router-outlet></ion-router-outlet>

<ion-content>
  
  <div text-center class="ion-padding">
    <h1>Nérée Coaching Application</h1>   
   </div>
 
  <app-slogan></app-slogan>
  <div class="home">
  <app-summary></app-summary>
  <app-team></app-team>

<div class="login" style="display:inline-block">
  <p *ngIf="hasAnyRole(['READ'])">
    <a routerLink="/pageLecteur">Vous pouvez accèder à la page de lecture</a>
  </p>
  <p *ngIf="hasAnyRole(['WRITE'])">
    <a routerLink="/pageRedacteur">Vous pouvez accèder à la page de rédaction</a>
  </p>
 
  <!-- <a href="/login">Login</a> -->
</div>
</div>

</ion-content>


<app-footer></app-footer>
