<app-header>
  <a href="my-account-page/account/account.component.html">Mon Compte</a>
</app-header>

<form [formGroup]="loginForm" (ngSubmit)="login()">
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" formControlName="email">
  </div>
  <div class="form-group">
    <label>Mot de passe</label>
    <input type="password" class="form-control" formControlName="password">
  </div>
  <button type="submit" class="btn btn-primary">OK</button>
</form>

 <pre>{{ loginForm.value | json }}</pre> <!--Notez les petites techniques pour rendre les valeurs lisibles à l’écran : Le pipe json convertit un objet JavaScript en chaîne affichable, et la balise HTML <pre> préserve les sauts de ligne -->
<app-footer></app-footer>