
<ion-card style="display:inline-block">
  <img src="assets/img/neree_coaching_accueil.png"/>
  <div class="scroller">
  <ion-card-content>
    <ion-card-title>
      Réussissez ce que vous entreprenez
      </ion-card-title>     
    <p>
      Les clefs de votre réussite sont à votre portée, n’en doutez pas. Nérée-coaching vous aide à voir plus clair pour les identifier et les utiliser. Grâce à ces clefs, vous avancerez et progresserez dans vos valeurs, vos ambitions, vos besoins et vos projets. Vous bénéficierez d’un accompagnement méthodique et ciblé, adapté à votre rythme et à vos contraintes, pour libérer de nouvelles compétences. En plus des séances présentielles, les outils et exercices impulsés par Nérée-coaching vous permettront, individuellement ou dans un esprit collectif, d’ouvrir les portes de vos succès professionnels. Ayez confiance en vos talents, votre avenir vous appartient !
    </p>
  </ion-card-content>
</div>
  <div>
    <button class="inscrire">S'inscrire</button>
  </div>
</ion-card>
