:host{
    float: left;
    background-color: #006c8c;
    color: white;
   margin:auto;
    bottom : 20px;
    padding:5px
  
    }

    .summary{
      width: 500px;
      height: auto;
    }

  ion-card{
    margin:auto;
      width : 500px;
      height:600px;
      color:white
      
  }



  ion-card-title {
color:white;
font-weight: bold;

  }

  .inscrire{
  border-radius:12px 0 12px 0;
	background-color: white;
	border:none;
	color:#006c8c;
	font:bold 12px Verdana;
  padding:6px 6px 6px 6px;
  margin : 5px 5px 5px 5px;  
  left:200px
  }
