<ion-card style="display:inline-block">
  <img class="team" src="assets/img/team.png"/>
  <div class="scroller">
  <ion-card-content>
    <ion-card-title>
      Une équipe de coachs certifiés
      </ion-card-title>
      <div class="scroller">
    <p>
      Nérée-coaching, c’est d’abord une conviction centrale : c’est vous seul qui avez les ressources en vous ! Toute notre équipe se rassemble autour de cette conviction et applique une méthode fiable et communément partagée. Nous savons que pour vous aider à franchir une étape importante, viser haut et loin, vous avez besoin d’écoute attentive et de liberté. Investis d’une mission et d’une passion : l’humain au coeur de l’action, nous mettons notre expérience en commun dans cette méthode et garantissons la qualité de notre coaching par des pratiques de supervision. Coachs formés et certifiés par un titre RNCP composent ainsi le réseau professionnel de Nérée-coaching, apte à intervenir à l’échelle nationale avec la force de notre déontologie : la bienveillance au service de l’excellence !
    </p>
  </div>
  </ion-card-content>
</div>
  <div>
    <button class="connecter">Se connecter</button>
  </div>
</ion-card>