<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <div class="login" style="display:inline-block">
      <a href="/login">Se Connecter</a>
    </div>
    <div class="login" style="display:inline-block">
      <a href="/account-creation">S'enregister</a>
    </div>
   <div class="search" style="display: inline-block">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  
  </ion-toolbar>
</ion-header>
