#home-header{
    background-color: #006c8c;
    height: 70px;
    vertical-align: top;
    
}

.logo{
    position: absolute;
    left:10px;
    
}

.search{
    position: absolute;
    right: 50px;
    background-color: white;
    margin-left:20px;
}

