<app-header-account></app-header-account>
<div class="card m-3">
  <h3 class="card-header">Mon Plan d'Actions</h3>
  <div class="card-body">

    <form action="http://localhost:8000/user/action/plan/creation/new" method="POST" [formGroup]="actionPlanForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label style="margin-right: 5px">N° :</label>
        <input type="number" class="form-control" formControlName="num">
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Titre de l'action :</label>
        <input type="text" class="form-control" formControlName="title_action">
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Descriptif :</label>
        <textarea class="form-control" formControlName="description_objective" rows="5" cols="33"></textarea>
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Qu'est-ce que cette action a de positif dans l'atteinte de mon objectif
          ?</label>
        <textarea class="form-control" formControlName="positive_objective" rows="5" cols="33"></textarea>
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Date de démarrage :</label>
        <input type="date" class="form-control" formControlName="beginning_date">
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Date de fin :</label>
        <input type="date" class="form-control" formControlName="end_date">
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Comment l'action peut-être la plus efficace possible ?</label>
        <textarea class="form-control" formControlName="description_objective" rows="5" cols="33"></textarea>
        <input type="text" class="form-control" formControlName="efficience_action">
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Résultat attendu :</label>
        <textarea class="form-control" formControlName="expected_result" rows="5" cols="33"></textarea>
      </div>

      <p>Validation de mon action :</p>
      <div>
        <input type="checkbox" name="specific_action" value="specific_action" formControlName="specific_action">
        <label>Spécifique</label>

        <input type="checkbox" name="mesurable_action" value="mesurable_action" formControlName="mesurable_action">
        <label>Mesurable</label>

        <input type="checkbox" name="motivating_action" value="motivating_action" formControlName="motivating_action">
        <label>Motivante</label>

        <input type="checkbox" name="ecological_action" value="ecological_action" formControlName="ecological_action">
        <label>Ecologique</label>

        <input type="checkbox" name="positive_action" value="positive_action" formControlName="positive_action">
        <label>Positive</label>

        <input type="checkbox" name="realizable_action" value="realizable_action" formControlName="realizable_action">
        <label>Réalisable</label>
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Quelles sont mes ressources (internes/externes) ?</label>
        <textarea class="form-control" formControlName="internal_external_resources" rows="5" cols="33"></textarea>
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Comment les mettre en oeuvre ?</label>
        <textarea class="form-control" formControlName="resources" rows="5" cols="33"></textarea>
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Quels sont les obstacles possibles pouvant freiner cette action ?</label>
        <textarea class="form-control" formControlName="obstacles" rows="5" cols="33"></textarea>
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Comment vais-je les contourner ?</label>
        <textarea class="form-control" formControlName="deflect_obstacles" rows="5" cols="33"></textarea>
      </div>

      <div class="buttons" style="margin-left:120px">
        <button class="submit-button" (click)="addActionPlan()" style="margin:20px">Soumettre</button>
        <button class="reset-button" type="reset" (click)="onReset()">Annuler</button>
        <button class="submit-button" (click)="onSubmit()">Mettre à jour</button>
      </div>
    </form>
  </div>
</div>

<pre>{{ actionPlanForm.value | json }}</pre>

<button type="button" class="return-button"><a href="/account"
    style="color: white; text-decoration: none; font-weight: bold;">Retour à la page Mon Compte</a></button>

<app-footer></app-footer>