<app-header-account></app-header-account>
<div class="card m-3">
  <h3 class="card-header">Mon Objectif</h3>
  <div class="card-body">
    <form action="http://localhost:8000/user/objective/creation/new" method="POST" [formGroup]="objectiveForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col">

          <div class="form-group">
            <label style="margin-right: 5px">Objectif :</label>
            <input type="text" class="form-control" formControlName="objective_title"
              [ngClass]="{ 'is-invalid': submitted && f.objective_title.errors }" />
            <div *ngIf="submitted && f.objective_title.errors" class="invalid-feedback">
              <div *ngIf="f.objective_title.errors.required">Champs obligatoire</div>
            </div>
          </div>
        </div>
      </div>

     

      <div class="form-group">
        <label style="margin-right: 5px">Date de début</label>
        <input type="date" class="form-control" formControlName="beginning_date"
          [ngClass]="{ 'is-invalid': submitted && f.beginning_date.errors }" />
        <div *ngIf="submitted && f.beginning_date.errors" class="invalid-feedback">
          <div *ngIf="f.beginning_date.errors.required">Champs obligatoire</div>
        </div>
      </div>

      
      <p>Validation de mon objectif :</p>
      <div>
        <input type="checkbox"  name="understandable_objective" value="understandable_objective" formControlName="understandable_objective">
        <label>Compréhensible</label>

        <input type="checkbox"  name="personal_objective" value="personal_objective" formControlName="personal_objective">
        <label >Personnel</label>

        <input type="checkbox"  name="realizable_objective" value="realizable_objective" formControlName="realizable_objective">
        <label>Reéaliste</label>

        <input type="checkbox"  name="ambitious_objective" value="ambitious_objective" formControlName="ambitious_objective">
        <label>Ambitieux</label>

        <input type="checkbox"  name="mesurable_action" value="mesurable_action" formControlName="mesurable_action">
        <label>Mesurable</label>

        <input type="checkbox"  name="ecological_action" value="ecological_action" formControlName="ecological_action">
        <label>Ecologique</label>
      </div>

      <div class="buttons" style="margin-left:200px">
        <button class="submit-button" (click)="addObjective()" style="margin:20px">Soumettre</button>
        <button class="reset-button" type="reset" (click)="onReset()">Annuler</button>
      </div>

    </form>
  </div>
</div>

<pre>{{ objectiveForm.value | json }}</pre>

<button type="button" class="return-button"><a href="/account"
    style="color: white; text-decoration: none; font-weight: bold;">Retour à la page Mon Compte</a></button>


<app-footer></app-footer>