<app-header-account></app-header-account>
<div class="card m-3">
  <h3 class="card-header">Mes Valeurs Energie</h3>
  <div class="card-body">

    <form action="http://localhost:8000/user/energy/values/creation/new" method="POST"[formGroup]="strengthForm" (ngSubmit)="addStrength()">
      <div class="form-group">
        <label style="margin-right: 5px">Valeur</label>
        <input type="text" class="form-control" formControlName="strength_name">
      </div>
      
      <div class="form-group">
        <label style="margin-right: 5px">Cotation actuelle</label>
        <input type="number" placeholder="de 0 à 10" min="0" max="10" class="form-control" formControlName="actually_notation">
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Cotation attendue</label>
        <input type="number" placeholder="de 0 à 10" min="0" max="10" class="form-control" formControlName="expected_notation">
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Action 1 (obligatoire)</label>
        <textarea class="form-control" formControlName="action_one" rows="2" cols="25"></textarea>
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Action 2 (obligatoire)</label>
        <textarea class="form-control" formControlName="action_two" rows="2" cols="25"></textarea>
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Action 3 (obligatoire)</label>
        <textarea class="form-control" formControlName="action_three" rows="2" cols="25"></textarea>
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Action 4</label>
        <textarea class="form-control" formControlName="action_four" rows="2" cols="25"></textarea>
      </div>

      <div class="form-group">
        <label style="margin-right: 5px">Action 5</label>
        <textarea class="form-control" formControlName="action_five" rows="2" cols="25"></textarea>
      </div>

      <div class="buttons" style="margin-left:120px">
        <!-- <button class="submit-button" (click)="addStrength()" style="margin:20px">Soumettre</button> -->
        <button class="reset-button" type="reset" (click)="onReset()">Annuler</button>
        <button class="submit-button" (click)="onSubmit()">Mettre à jour</button>
        <button class="submit-button" (click)="addStrength()" style="margin:20px"><a href="/account">Soumettre</a></button>
        <!-- <button class="submit-button" (click)="getStrengths()" style="margin:20px"><a href="/list">voir</a></button> -->
      </div>
    </form>
  </div>
</div>

<button type="button" class="return-button"><a href="/account"
  style="color: white; text-decoration: none; font-weight: bold;">Retour à la page Mon Compte</a></button>

<app-footer></app-footer>