<app-header-account></app-header-account>
<div class="card m-3">
  <h3 class="card-header">Mes Valeurs Energie</h3>
  <div class="card-body">

    <form [formGroup]="strengthForm" (ngSubmit)="energyValue()">
      <div class="form-group">
        <label style="margin-right: 5px">Valeur</label>
        <input type="text" class="form-control" formControlName="strength_name">
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Cotation actuelle</label>
        <input type="number" min="0" max="5" class="form-control" formControlName="actually_notation">
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Cotation attendue</label>
        <input type="number" min="0" max="5" class="form-control" formControlName="expected_notation">
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Action 1</label>
        <input type="text" class="form-control" formControlName="action_one">
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Action 2</label>
        <input type="text" class="form-control" formControlName="action_two">
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Action 3</label>
        <input type="text" class="form-control" formControlName="action_three">
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Action 4</label>
        <input type="text" class="form-control" formControlName="action_four">
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Action 5</label>
        <input type="text" class="form-control" formControlName="action_five">
      </div>

      <div class="buttons" style="margin-left:120px">
        <button class="submit-button" (click)="onSubmit" style="margin:20px">Soumettre</button>
        <button class="reset-button" type="reset" (click)="onReset()">Annuler</button>
        <button class="submit-button" (click)="onSubmit()">Mettre à jour</button>
      </div>
    </form>
  </div>
</div>

<pre>{{ strengthForm.value | json }}</pre>
<button type="button" class="return-button"><a href="/account"
  style="color: white; text-decoration: none; font-weight: bold;">Retour à la page Mon Compte</a></button>

<app-footer></app-footer>