<app-header-account></app-header-account>
<ion-router-outlet></ion-router-outlet>
<ion-content>
  <div text-center class="ion-padding">
    <h1>Nérée Coaching Application</h1>   
   </div>

<div class="strength" style="display:inline-block">
  <a href="/strength">Mes valeurs</a>
</div>
<div class="action-plan" style="display:inline-block">
  <a href="/action-plan">Mon plan d'actions</a>
</div>
</ion-content>
<div class="login" style="display:inline-block">
 
  <nav>
    <a routerLink="/strength" routerLinkActive="active">Mes Valeurs</a>
    <a routerLink="/action-plan" routerLinkActive="active">Mes actions</a>
  </nav> 
  
</div>

<app-footer></app-footer>