.buttons{
    display: flex;
    height: 50px;
    width: 150px;
    margin-bottom: 100px;
    margin-left: 200px;
    border-radius: 5px;
    border: solid 1px rgb(233,78,27);
    background-color: rgb(233,78,27);
}