<app-header-account></app-header-account>
<ion-router-outlet></ion-router-outlet>

  <div text-center class="ion-padding">
    <h1>Nérée Coaching Application</h1>   
   </div>

   <div class="buttons">

   <button type="button" class="buttons"><a href="/home"
    style="color: white; text-decoration: none; ">Retour à la page d'accueil</a></button>

    
   <button type="button" class="buttons"><a href="/account/calendar"
    style="color: white; text-decoration: none;">Mon Calendrier</a></button>

    <button type="button" class="buttons"><a href="/account/calendar"
      style="color: white; text-decoration: none; ">Mon Calendrier</a></button>

  </div>
<app-footer></app-footer>