
<footer id="main-footer">
  
      <div class="facebook-icon">
        <a class="icon" href="https://www.facebook.com/nereecoaching" target="_blank">
        <span> <img class="facebook" src="assets/img/facebook.png"></span> 
        </a>
      </div>
      <div class="linkedin-icon">
        <a class="icon" href="https://www.linkedin.com/company/neree-coaching/" target="_blank">
          <span><img class="linkedin" src="assets/img/linkedin.png"> </span> 
        </a>
      </div>
      <div class="site-web-icon">
        <a class="icon" href="https://neree-coaching.fr/" target="_blank">
         <span><img class="neree-coaching" src="assets/img/site_web.png"> </span> 
        </a>
      </div>
    <div class="footer-info">
    <p>© 2020 Nérée-coaching</p>
    </div>
</footer>