<app-header></app-header>
<div class="card m-3">
  <h3 class="card-header">Formulaire d'inscription</h3>
  <div class="card-body">
    <form action="http://localhost:8000/user/account/creation/new" method="POST" [formGroup]="accountForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col">
          <div class="form-group">
            <label style="margin-right: 5px">Nom</label>
            <input type="text" class="form-control" formControlName="name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Champs obligatoire</div>
            </div>
          </div>
          <div class="form-group">
            <label style="margin-right: 5px">Prénom</label>
            <input type="text" class="form-control" formControlName="surname"
              [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />
            <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
              <div *ngIf="f.surname.errors.required">Champs obligatoire</div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="form-group form-check" style="margin-right: 5px">
        <input style="margin-right: 5px" type="radio" formControlName="role" name="role"
          class="form-radio-input" value="coachée" [ngClass]="{ 'is-invalid': submitted && f.role.errors }" />
        <label style="margin-right: 5px" for="coachée" class="form-check-label">coaché(e)</label>
        <input style="margin-right: 5px" type="radio" formControlName="role" name="role"
        class="form-radio-input" value="coach" [ngClass]="{ 'is-invalid': submitted && f.role.errors }" />
        <label style="margin-right: 5px" for="coach" class="form-check-label">coach</label>
        <div *ngIf="submitted && f.role.errors" class="invalid-feedback">Confirmation obligatoire</div>
      </div> -->
      <div class="form-group">
        <label style="margin-right: 5px">Role</label>
        <input type="text" class="form-control" formControlName="role"
          [ngClass]="{ 'is-invalid': submitted && f.role.errors }" />
        <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
          <div *ngIf="f.role.errors.required">Champs obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Téléphone</label>
        <input type="tel" class="form-control" formControlName="phone"
          [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
          <div *ngIf="f.phone.errors.required">Champs obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Mail</label>
        <input type="text" class="form-control" formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Champs obligatoire</div>
          <div *ngIf="f.email.errors.email">Email doit être une adresse mail valide</div>
        </div>
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Fonction</label>
        <input type="text" class="form-control" formControlName="function"
          [ngClass]="{ 'is-invalid': submitted && f.function.errors }" />
        <div *ngIf="submitted && f.function.errors" class="invalid-feedback">
          <div *ngIf="f.function.errors.required">Champs obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Nom de la société</label>
        <input type="text" class="form-control" formControlName="name_society"
          [ngClass]="{ 'is-invalid': submitted && f.name_society.errors }" />
        <div *ngIf="submitted && f.name_society.errors" class="invalid-feedback">
          <div *ngIf="f.name_society.errors.required">Champs obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Adresse de la société</label>
        <input type="text" class="form-control" formControlName="address_society">
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Téléphone de la société</label>
        <input type="tel" class="form-control" formControlName="phone_society">
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Suivi part (Nom du coach)</label>
        <input type="text" class="form-control" formControlName="coach_name">
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Date de début de la formation</label>
        <input type="date" class="form-control" formControlName="coaching_beginning">
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Mot de passe</label>
        <input type="password" class="form-control" formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Champs obligatoire</div>
          <div *ngIf="f.password.errors.minlength">Le mot de passe doit contenir au moins 6 caractères</div>
        </div>
      </div>
      <div class="form-group">
        <label style="margin-right: 5px">Confirmation du mot de passe</label>
        <input type="password" class="form-control" formControlName="confirm_password"
          [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
        <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
          <div *ngIf="f.confirm_password.errors.required">Champs obligatoire</div>
          <div *ngIf="f.confirm_password.errors.minlength">Le mot de passe doit correspondre</div>
        </div>
      </div>
      <div class="form-group form-check" style="margin-right: 5px">
        <input style="margin-right: 5px" type="checkbox" formControlName="accept_terms" id="accept_terms"
          class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.accept_terms.errors }" />
        <label style="margin-right: 5px" for="accept_terms" class="form-check-label">J'accepte que mes données soient
          transférées à
          Nérée-Coaching le temps de l'exécution de mon plan d'actions</label>
        <div *ngIf="submitted && f.accept_terms.errors" class="invalid-feedback">Confirmation obligatoire</div>
      </div>
      <div class="buttons" style="margin-left:200px">
        <button class="submit-button" (click)="addUsers(user.value)" style="margin:20px">Soumettre</button>
        <button class="submit-button" [class.is-loading]="isLoading" (click)="getUsers()" style="margin:20px">voir</button>
        <button class="reset-button" type="reset" (click)="onReset()">Annuler</button>
      </div>
    </form>
  </div>
</div>
<pre>{{ accountForm.value | json }}</pre>
<button type="button" class="return-button"><a href="/home"
    style="color: white; text-decoration: none; font-weight: bold;">Retour à la page d'accueil</a></button>
<app-footer></app-footer>