.card-header{
    text-align: center;
    font-weight: bold;
    margin:auto;
    padding : 20px
}

.card-body{
    width: 600px;
    height: 150 px;
    background-color: rgb(233,78,27);
    padding : 10px;
    border:solid 1px black;
}

.form-group {
    margin:auto;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.buttons{
    border-radius: 5px;
}

.submit-button{
    font-weight: bold;
    height: 20px;
    border-radius: 5px;
    background: radial-gradient( white,#f69d3c);
}

.reset-button{
    height: 20px;
    border-radius: 5px;
    background: radial-gradient( white,#f69d3c);
}

.return-button{
    height: 50px;
    width: 150px;
    margin:auto;
    border-radius: 5px;
    border: solid 1px rgb(233,78,27);
    background-color: rgb(233,78,27);
}