
<header id="account-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin:10px; padding:10px;">
    <a class="navbar-brand" style="color:whitesmoke; text-decoration: none;" href="/account">Mon Compte
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button></a>

    <a class="navbar-brand" style="color:whitesmoke; text-decoration: none;" href="/account/strength">Mes Valeurs Energie
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button></a>

    <a class="navbar-brand" style="color:whitesmoke; text-decoration: none;" href="/account/action-plan">Mon Plan d'Actions
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button></a>

      <a class="navbar-brand" style="color:whitesmoke; text-decoration: none;" href="/account/objective">Mes Objectifs
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button></a>
        
      <a class="navbar-brand" style="color:whitesmoke; text-decoration: none;" href="/account/calendar">Mon calendrier
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button></a>

    <div class="search">
      <form class="search">
        <input class="form-control" type="search" placeholder="Search" style="position:absolute; right: 10px;">
      </form>
    </div>
    <div>
    <button class="search" type="submit"
      style="color: rgb(0,108,140);  font-weight: bold; position:absolute; right: 10px;">Search</button>
    </div>

  </nav>
</header>

    <!-- <div class="strength" style="display:inline-block">
      <a href="/account/strength">Mes valeurs énergies</a>
    </div>
    <div class="action-plan" style="display:inline-block">
      <a href="/account/action-plan">Mon plan d'action</a>
    </div>
    <div class="objective" style="display:inline-block">
      <a href="/account/objective">Mes Objectifs</a>
    </div>
  
   <div class="search" style="display: inline-block">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div> -->